/* styles */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@font-face {
  font-family: XCharter;
  src: url("/static/fonts/charter/XCharter-Roman.otf") format("opentype");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --mono-font: "JetBrains mono";
  --base-font: 'Lato', sans-serif;
  --code-font: 'Fira Code', monospace;
  --base-font-size: 14px;
  --color-link-doc: rgb(15, 15, 100);
  --color-bg-nav: #496781;
  --color-bg-sidebar: #f7f7f7;
  --color-link-nav: #f2f2f2;
  /* --base-font: 'Macondo', cursive; */
  /* --base-font: 'XCharter'; */
  /* --base-font: 'Noto Sans', sans-serif; */
}
#remotePage{
  display: none;
}
xmp{
  font-family: var(--code-font);
  padding: 0;
  margin: 0;
}
pre, code{
  font-family: var(--code-font);
}
h1,h2,h3,h4,h5,h6{ margin: 0 }
ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  font-size: var(--base-font-size);
}
a{
  text-decoration: none;
  border-bottom: 1px dotted var(--color-bg-nav);  
}
a:visited{
  color: var(--color-link-doc);
}
nav a:visited{
  color: white;
}
.sidebar.remote a {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dotted var(--color-link-nav);
  border-bottom: 1px dotted #3f3f3f;
}
main{
  width: 95%;
  margin: auto;  
  border: 1px solid #ccc;
  box-shadow: 3px 2px 3px 0px #ccc;
  /* padding: 10px 20px 0px 20px; */
  min-height: 95vh;
  margin-bottom: 10px;
  
}
@media (min-width: 1025px) {
  main{
    padding: 10px 20px 0px 20px;
    border-top: 3px solid rgb(168, 161, 152);
  }
  main > *{
    font-size: 1.4em;
  }
  .navbar i.res{
    display: none;
  }
  .navbar span.res{
    display: inline-block;
  }
}
@media (max-width: 1024px) {
  main{
    border-top: 3px solid rgb(29, 176, 142);
  }
  .md-content pre{
    white-space: pre-wrap;
  }
  .navbar i.res{
    display: inline-block;
  }
  .navbar span.res{
    display: none;
  }
}
main.app{
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "menu"
  "conteudo";
}
.md-content h1{
  padding: 0;
}
.md-content h2, 
.md-content h3, 
.md-content h4,
.md-content h5{
  padding: 0px 0px 10px 0px;
}
.md-content{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 0px 40px 0px;
}
.md-content pre{
  border: 3px solid #5c5e68;
  border-radius: 7px;
  background: #fff;
  padding: 10px 0px 10px 20px;
  margin: 10px 0px 30px 0px;
}
.md-content ul, .md-content ol{
  display: block;
  list-style-type: disc;
  /* margin-block-start: 1em; */
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.md-content, #remoteContent{
  line-height: 2.0em;
}
nav.navbar{
  grid-area: menu;
  background: var(--color-bg-nav);
  padding: 10px;
}
div.conteudo{
  grid-area: conteudo;
}
@media (min-width: 1024px) {
  div.conteudo{
    padding: 10px 20px;
  }
}
header{
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  margin: 1rem 0;
}
iframe.gviewer{
  width: 100%;
  height: 700px;
  border: 3px solid greenyellow;
}
dl{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: min-content 600px;
}
dd{
  justify-self: left;
  margin: 0;
}
dt{
  font-weight: bold;
  justify-self: right;
}
header h1{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
}
header span.logo{
  font-size: 32px;
}
ul.menu{
  padding: 0;
}
ul.menu li{
  font-family: var(--mono-font);
}
nav ul.menu li{
  display: inline-block;
  color: rgb(241, 238, 238);
  background-color: var(--color-bg-nav);
  border: 1px solid #041052;
  border-radius: 2px;
  margin-right: 10px;
}
div.slides-group{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
summary.title{
  font-family: var(--mono-font);
  font-size: 1.2em;
  cursor: pointer;
  padding: 20px 0px 20px 10px;
}
summary.title:hover{
  background-color: #6affb9;
  border-radius: 3px;
  padding-left: 20px;
}
object.pdf{
  border: 5px solid #aa1f1f;
  width: 100%;
  height: 700px;
}
.take{
  background-color: #e7c1ff;
}
.hmenu a{
  cursor: pointer;
}
.hmenu li{
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
}
ul.menu a{
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  border-bottom: 0;
  cursor: pointer;
}
ul.menu a:hover{
  cursor: pointer;  
  background: #76279c;
}
ul.menu a.active{  
  background: #27279c;
}
div.content{
  display: none;   
}
div.content.active{
  display: block;
}
div.content.cgrid{
  display: grid;
  grid-template-areas: 
  "header header" 
  "sidebar article";
  grid-template-columns: min-content 1fr;
}
div.content.cgrid2{
  display: grid;
  grid-template-areas: 
  "header" 
  "sidebar"
  "article";
  grid-template-columns: min-content 1fr;
}
header.cheader{
  grid-area: header;
}
div.sidebar{
  grid-area: sidebar;
  background: var(--color-bg-sidebar);
  place-self: baseline;
  border: 1px solid #b8b8b8;
  filter: drop-shadow(1px 2px 2px #3f3f3f);
}
div.sidebar ul.menu li{
  color: #763535;
  padding: 10px;
}
div.sidebar ul.menu a{
  color: #763535;
}
.sidebar .menu a:hover{
  cursor: pointer;  
  background: #6affb9;
}
.sidebar ul, ol{
  padding: 0px 10px;
}
.sidebar li{
  padding: 10px;
  text-align: right;
}
article.cbody{
  padding: 0 1rem 0 2.5rem;
  grid-area: article;
  /* background: #e8f6f1; */
  display: none;
}
article.cbody.active{
  display: block;
}
div.wrapper-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
}
@media (min-width: 1024px) {
  div.wrapper-cards{   
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));   
  }
}
.hbar{
  margin: 20px 0px;
}
figure{
    border: 3px solid rosybrown;
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    border: 3px solid #cccccc;
    background: #f3f3f3;
}
button{
  box-sizing: border-box;
  outline: none;
  border: 1px solid #00000000;
  padding: .3rem;
  border-radius: 5px;
  filter: drop-shadow(1px 2px 2px #666);
}
button#generate:hover{
  border: 1px solid #76279c;
}
figure img{
  width: 100%;
  max-width: 480px;
}
figcaption{
  font-size: 1.4em;
  padding: 20px 0px 0px 0px;
  font-family: 'Macondo', cursive;
}
table.brief{
  border-spacing: 20px;
  font-family: var(--mono-font);
}
table.brief td:nth-child(1){
  color: navy;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}
.list-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.list-card li{
  border: 3px solid var(--color-bg-nav);
  padding: 3px 7px;
}
.tag{
  font-family: var(--mono-font);
  background-color: #f7ffa3;
  padding: 5px 8px;
}
.tag.js{
  background-color: #ebf86b;
}
.tag.html{
  background-color: #6affb9;
}
.tag.css{
  background-color: #e7c1ff;
}
.success{
  color: #57ab5a !important;
}
.fail{
  color: #fe8443 !important;
}
#rndColor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}
.pending{
  color: #a1a1a1 !important;
}
.color-table{
  display: grid;
  justify-items: start;
  grid-gap: 30px;
}
.box-color{
  display: table-cell;
  border: 2px solid black;
  width: 128px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
}
div.palette{
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 20px;
}
.cb, .cb2{
  font-family: var(--mono-font);
  display: table;
  border: 2px solid rgba(0, 0, 0, 0.112);
  padding: 1.2rem;
  font-size: 0.8em;
  width: fit-content;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.cb:hover{
  border: 2px solid rgba(0, 0, 0, 0.822);
}
.cb b, .cb2 b{
  display: table-cell;
  vertical-align: middle;
  font-weight: 500;
  background: #ffffff4d;
  font-size: 1.2em;
}
#playlist li::before{
  content: "\f144";
  font-family: "Font Awesome 5 Free";
}
.svgicon{
  width: 24px;
  height: 24px;
  font-family: 'UbuntuMono Nerd Font Mono', monospace !important;
  display: inline-block;
  vertical-align: text-bottom;
}
.svgicon.svgspin {
  fill: none;
}
.svgicon.octicon {
  overflow: visible !important;
  fill: currentColor;
}
.anim-rotate {
  animation: rotate-keyframes 1s linear infinite;
}
@keyframes rotate-keyframes {
  100% {
    transform: rotate(360deg);
  }
}
p.sonnet{
  white-space: pre-line;
  font-family: 'Belgrano', serif;
  font-style: italic;
  margin: 5px 0px 0px 40px;
  line-height: 2.5em;
}
p.sonnet::first-letter {
  font-size: 2em;
}