/* styles */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css');
@font-face {
  font-family: XCharter;
  src: url("/static/fonts/charter/XCharter-Roman.otf") format("opentype");
}

:root{
  --mono-font: "JetBrains mono";
  --base-font: 'Lato', sans-serif;
  --code-font: 'Fira Code', monospace;
  --link-color: navy;
  /* --base-font: 'Macondo', cursive; */
  /* --base-font: 'XCharter'; */
  /* --base-font: 'Noto Sans', sans-serif; */
}
#remotePage{
  display: none;
}
xmp{
  font-family: var(--code-font);
  padding: 0;
  margin: 0;
}
pre, code{
  font-family: var(--code-font);
}
h1,h2,h3,h4,h5,h6{margin: 0;}

body{
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
}
a{
  text-decoration: none;
  border-bottom: 1px dotted navy;  
}
a:visited{
  color: var(--link-color);
}
nav a:visited{
  color: white;
}

main{
  width: 95%;
  margin: auto;  
  border: 1px solid #ccc;
  box-shadow: 3px 2px 3px 0px #ccc;
  padding: 10px 20px 0px 20px;
  min-height: 95vh;
  margin-bottom: 10px;
}
header{
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  margin: 20px 0px;
}
header h1{
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
}
header span.logo{
  font-size: 32px;
}
nav{
  margin-bottom: 30px;
}
ul.menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.menu li{
  font-family: var(--mono-font);
}
nav ul.menu li{
  display: inline-block;
  color: rgb(241, 238, 238);
  background-color: #496781;
  border: 1px solid #041052;
  border-radius: 2px;
  margin-right: 10px;
}
ul.menu a{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  border-bottom: 0;
  cursor: pointer;
}
ul.menu a:hover{
  cursor: pointer;  
  background: #76279c;
}
ul.menu a.active{  
  background: #27279c;
}
div.content{
  display: none;   
  margin: 10px 10px 10px 20px;
}
div.content.active{
  display: block;
}
div.content.cgrid{
  display: grid;
  
  grid-template-areas: 
  "header header" 
  "sidebar article";
  grid-template-columns: 200px 1fr;
}
header.cheader{
  grid-area: header;
}
div.sidebar{
  grid-area: sidebar;
  background: #c9fee5;
}
div.sidebar ul.menu li{
  color: #763535;
  padding: 10px;
}
div.sidebar ul.menu a{
  color: #763535;
}
.sidebar .menu a:hover{
  cursor: pointer;  
  background: #6affb9;
}
article.cbody{
  padding: 10px 20px;
  grid-area: article;
  background: #e8f6f1;
  display: none;
}
article.cbody.active{
  display: block;
}
div.wrapper-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  grid-template-rows: auto;
}
figure{
    border: 3px solid rosybrown;
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    border: 3px solid #cccccc;
    background: #f3f3f3;
}
figure img{
  width: 100%;
  max-width: 480px;
}
figcaption{
  font-size: 1.4em;
  padding: 20px 0px 0px 0px;
  font-family: 'Macondo', cursive;
}